
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/web.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: white; 
    position: relative; 
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 0; 
}

header, section, footer {
    position: relative; 
    z-index: 1; 
}


header {
    text-align: center;
    padding: 50px 20px; 
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}


#crawler-form, #contact-info {
    margin: 40px auto; 
    background-color: rgba(134, 101, 101, 0.85);
    padding: 30px;
    border-radius: 10px;
    max-width: 900px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333; 
}

form {
    margin-top: 20px;
}

input, button {
    padding: 15px;
    margin-bottom: 20px;
    width: 34vw;
    font-size: 1em; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin: auto;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    width: 34vw;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    
}

button:hover {
    background-color: #45a049;
}


#loading {
    display: none;
    margin: auto;
    margin-top: 15px;
}

.loading-icon {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    margin: auto;
    animation: spin 1s linear infinite;
}
.error {
    color: red;
    margin: auto;
    margin-bottom: 15px;
}

.success {

    color: green;
    margin: auto;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#contact-info p {
    font-size: 1.2em;
    color: #333;
}

footer {
    text-align: center;
    font-size: 1em;
    padding: 20px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        padding: 30px 15px;
    }

    h1 {
        font-size: 2em;
    }

    #crawler-form, #contact-info {
        padding: 20px;
        margin: 20px auto;
    }

    input, button {
        padding: 12px;
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.6em;
    }
}